@import "../../../variables.scss";

.content {
  padding: $space;
  display: grid;
  gap: 20px;

  .content-title {
    margin: 0;
    font-size: $font-lg;
    font-weight: 700;
  }

  .create-tip {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
  }

  .filter-tips {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 2fr 1fr 1fr 1fr 1fr;
  }

  table {
    thead {
      th {
        padding: $space;
        font-size: $font-md;
        border-width: 1px !important;
      }
    }

    tbody {
      tr {
        td {
          padding: $space;
          font-size: $font-md;
        }
      }

      .red {
        background-color: rgba(255, 0, 0, 0.4);
      }

      .green {
        background-color: rgba(0, 255, 0, 0.4);
      }
    }
  }
}
