<div class="content">
  <div>
    <p class="content-title">Cadastrar nova aposta:</p>
    <form class="create-tip">
      <select [(ngModel)]="selectedMethodOption" name="selectedMethodOption">
        <option value="" selected>Selecione o método</option>
        <option
          *ngFor="let methodOption of methodsOptions"
          [value]="methodOption.id"
        >
          {{ methodOption.name }}
        </option>
      </select>
      <app-input [type]="'date'" [(inputModel)]="newTipInfo.date"></app-input>
      <app-input
        style="grid-column: auto / span 3"
        [placeholder]="'Insira a descrição da aposta'"
        [(inputModel)]="newTipInfo.description"
      ></app-input>
      <app-input
        [placeholder]="'Insira a ODD'"
        [type]="'number'"
        [(inputModel)]="newTipInfo.odd"
      ></app-input>
      <select [(ngModel)]="selectedResultOption" name="selectedResultOption">
        <option value="" selected>Selecione o resultado</option>
        <option
          *ngFor="let resultOption of resultsOptions"
          [value]="resultOption"
        >
          {{ resultOption }}
        </option>
      </select>
      <app-button
        [type]="'submit'"
        [text]="'Cadastrar'"
        (click)="submit()"
      ></app-button>
    </form>
  </div>
  <div>
    <p class="content-title">Filtros:</p>
    <form class="filter-tips" (ngSubmit)="findTips()">
      <select [(ngModel)]="filter.methodId" name="selectedMethodOptionFilter">
        <option value="" selected>Selecione o método</option>
        <option
          *ngFor="let methodOption of methodsOptions"
          [value]="methodOption.id"
        >
          {{ methodOption.name }}
        </option>
      </select>
      <app-input
        [placeholder]="'Data início'"
        [(inputModel)]="filter.startDate"
        [type]="'date'"
      ></app-input>
      <app-input
        [placeholder]="'Data fim'"
        [(inputModel)]="filter.finishDate"
        [type]="'date'"
      ></app-input>
      <app-input
        [placeholder]="'Pesquisar pela descrição da aposta'"
        [(inputModel)]="filter.description"
      ></app-input>
      <app-input
        [placeholder]="'ODD mínima'"
        [type]="'number'"
        [(inputModel)]="filter.minOdd"
      ></app-input>
      <app-input
        [placeholder]="'ODD máxima'"
        [type]="'number'"
        [(inputModel)]="filter.maxOdd"
      ></app-input>
      <select [(ngModel)]="filter.result" name="selectedResultOptionFilter">
        <option value="" selected>Selecione o resultado</option>
        <option
          *ngFor="let resultOption of resultsOptions"
          [value]="resultOption"
        >
          {{ resultOption }}
        </option>
      </select>
      <app-button [type]="'submit'" [text]="'Filtrar'"></app-button>
    </form>
  </div>
  <div>
    <p class="content-title">Apostas cadastradas:</p>
    <table class="table table-bordered table-striped">
      <thead>
        <th>Método</th>
        <th>Data</th>
        <th>Descrição</th>
        <th>ODD</th>
        <th>Resultado</th>
      </thead>
      <tbody *ngIf="!loader">
        <tr
          *ngFor="let tip of tips"
          [ngClass]="{
            red: tip.result.toUpperCase() === 'RED',
            green: tip.result.toUpperCase() === 'GREEN'
          }"
        >
          <td>{{ tip.method.name }}</td>
          <td>{{ tip.date | date : "dd/MM/YYY" }}</td>
          <td>{{ tip.description }}</td>
          <td>{{ tip.odd }}</td>
          <td>{{ tip.result }}</td>
        </tr>
      </tbody>
    </table>
    <app-loader *ngIf="loader"></app-loader>
  </div>
</div>
