<div class="content">
  <div>
    <p class="content-title">Cadastrar nova aposta:</p>
    <form class="create-tip">
      <select [(ngModel)]="selectedMethodOption" name="selectedMethodOption">
        <option value="" selected>Selecione o método</option>
        <option
          *ngFor="let methodOption of methodsOptions"
          [value]="methodOption.id"
        >
          {{ methodOption.name }}
        </option>
      </select>
      <app-input [type]="'date'" [(inputModel)]="newTipInfo.date"></app-input>
      <app-input
        style="grid-column: auto / span 3"
        [placeholder]="'Insira a descrição da aposta'"
        [(inputModel)]="newTipInfo.description"
      ></app-input>
      <app-input
        [placeholder]="'Insira a ODD'"
        [type]="'number'"
        [(inputModel)]="newTipInfo.odd"
      ></app-input>
      <select [(ngModel)]="selectedResultOption" name="selectedResultOption">
        <option value="" selected>Selecione o resultado</option>
        <option
          *ngFor="let resultOption of resultsOptions"
          [value]="resultOption"
        >
          {{ resultOption }}
        </option>
      </select>
      <app-button
        [type]="'submit'"
        [text]="'Cadastrar'"
        (click)="submit()"
        [backgroundColor]="'#fff28c'"
      ></app-button>
    </form>
  </div>
  <div>
    <p class="content-title">Filtros:</p>
    <form class="filter-tips" (ngSubmit)="findTips()">
      <select [(ngModel)]="filter.methodId" name="selectedMethodOptionFilter">
        <option value="" selected>Selecione o método</option>
        <option
          *ngFor="let methodOption of methodsOptions"
          [value]="methodOption.id"
        >
          {{ methodOption.name }}
        </option>
      </select>
      <app-input
        [placeholder]="'Data início'"
        [(inputModel)]="filter.startDate"
        [type]="'date'"
      ></app-input>
      <app-input
        [placeholder]="'Data fim'"
        [(inputModel)]="filter.finishDate"
        [type]="'date'"
      ></app-input>
      <app-input
        [placeholder]="'Pesquisar pela descrição da aposta'"
        [(inputModel)]="filter.description"
      ></app-input>
      <app-input
        [placeholder]="'ODD mínima'"
        [type]="'number'"
        [(inputModel)]="filter.minOdd"
      ></app-input>
      <app-input
        [placeholder]="'ODD máxima'"
        [type]="'number'"
        [(inputModel)]="filter.maxOdd"
      ></app-input>
      <select [(ngModel)]="filter.result" name="selectedResultOptionFilter">
        <option value="" selected>Selecione o resultado</option>
        <option
          *ngFor="let resultOption of resultsOptions"
          [value]="resultOption"
        >
          {{ resultOption }}
        </option>
      </select>
      <app-button
        [type]="'submit'"
        [text]="'Filtrar'"
        [backgroundColor]="'#fff28c'"
      ></app-button>
    </form>
  </div>
  <div>
    <p class="content-title">Apostas cadastradas:</p>
    <table class="table table-bordered table-striped">
      <thead>
        <th style="width: 300px">Método</th>
        <th style="width: 350px">Data</th>
        <th style="width: 400px">Descrição</th>
        <th style="width: 125px">ODD</th>
        <th style="width: 200px">Resultado</th>
        <th class="text-center" style="width: 200px">Ações</th>
      </thead>
      <tbody *ngIf="!loader">
        <tr *ngIf="tips.length > 0">
          <td colspan="6" class="criterio-kelly-line-container">
            <span
              >Total de apostas:
              {{ criterioKellyFromActualTips.totalTips }}</span
            >
            <span>Acertos: {{ criterioKellyFromActualTips.totalTipsWon }}</span>
            <span>Erros: {{ criterioKellyFromActualTips.totalTipsLost }}</span>
            <span
              >Pendente: {{ criterioKellyFromActualTips.totalTipsVoid }}</span
            >
            <span
              >Taxa de acerto:
              {{
                criterioKellyFromActualTips.percentageTipsWon * 100
                  | number : ".2-2"
              }}%</span
            >
            <app-button
              [text]="'Abrir calculadora'"
              [type]="'submit'"
              [width]="'200px'"
              (click)="navigateToCalculator()"
              [backgroundColor]="'#fff28c'"
            ></app-button>
          </td>
        </tr>
        <tr *ngFor="let tip of tips">
          <td>
            <span *ngIf="editTipInfo.id !== tip.id">{{ tip.method.name }}</span>
            <select
              *ngIf="editTipInfo.id === tip.id"
              [(ngModel)]="editTipInfo.methodId"
              name="selectedMethodOptionEdit"
            >
              <option value="" selected>Selecione o método</option>
              <option
                *ngFor="let methodOption of methodsOptions"
                [value]="methodOption.id"
              >
                {{ methodOption.name }}
              </option>
            </select>
          </td>
          <td>
            <span *ngIf="editTipInfo.id !== tip.id">{{
              tip.date | date : "dd/MM/YYY"
            }}</span>
            <app-input
              *ngIf="editTipInfo.id === tip.id"
              [type]="'date'"
              [(inputModel)]="editTipInfo.date"
            ></app-input>
          </td>
          <td>
            <span *ngIf="editTipInfo.id !== tip.id">{{ tip.description }}</span>
            <app-input
              *ngIf="editTipInfo.id === tip.id"
              [placeholder]="'Insira a descrição da aposta'"
              [(inputModel)]="editTipInfo.description"
            ></app-input>
          </td>
          <td>
            <span *ngIf="editTipInfo.id !== tip.id">{{ tip.odd }}</span>
            <app-input
              *ngIf="editTipInfo.id === tip.id"
              [placeholder]="'Insira a ODD'"
              [type]="'number'"
              [(inputModel)]="editTipInfo.odd"
            ></app-input>
          </td>
          <td
            [ngClass]="{
              red:
                editTipInfo.id === tip.id
                  ? editTipInfo.result.toUpperCase() === 'RED'
                  : tip.result.toUpperCase() === 'RED',
              green:
                editTipInfo.id === tip.id
                  ? editTipInfo.result.toUpperCase() === 'GREEN'
                  : tip.result.toUpperCase() === 'GREEN'
            }"
          >
            <span *ngIf="editTipInfo.id !== tip.id">{{ tip.result }}</span>
            <select
              [(ngModel)]="editTipInfo.result"
              name="selectedResultOptionEdit"
              *ngIf="editTipInfo.id === tip.id"
            >
              <option value="" selected>Selecione o resultado</option>
              <option
                *ngFor="let resultOption of resultsOptions"
                [value]="resultOption"
              >
                {{ resultOption }}
              </option>
            </select>
          </td>
          <td class="button-container">
            <app-button
              [type]="'button'"
              [icon]="'pencil-fill'"
              (click)="setTipToEdit(tip)"
              *ngIf="editTipInfo.id !== tip.id"
            >
            </app-button>
            <app-button
              [type]="'button'"
              [icon]="'check-lg'"
              (click)="saveEditTip()"
              *ngIf="editTipInfo.id === tip.id"
            >
            </app-button>
            <app-button
              [type]="'button'"
              [icon]="'trash-fill'"
              (click)="deleteTip(tip.id)"
            ></app-button>
          </td>
        </tr>
      </tbody>
    </table>
    <app-not-found-data
      *ngIf="!loader && tips.length === 0"
    ></app-not-found-data>
    <app-loader *ngIf="loader"></app-loader>
  </div>
</div>
