@import "../../../variables.scss";

.app-header {
  display: flex;
  justify-content: space-between;
  background-color: $main-color;
  height: $header-height;

  div {
    display: flex;
    align-items: center;
  }

  button {
    background-color: $main-color;
    padding: $space;
    transition: $transition-time;
    min-width: 120px;
    cursor: pointer;
    display: flex;
    border: none;
    justify-content: center;
    align-items: center;

    &:hover {
      background-color: darken($main-color, 10%);
    }

    span {
      font-size: $font-lg;
    }
  }

  .active {
    background-color: darken($main-color, 10%);
  }
}
