<div class="content">
  <div>
    <p class="content-title">Cadastrar novo método:</p>
    <form class="create-method">
      <input
        id="input-method-name"
        type="text"
        placeholder="Insira o nome do método"
      />
      <input
        id="input-method-description"
        type="text"
        placeholder="Insira a descrição do método"
      />
      <button type="submit"></button>
    </form>
  </div>
  <div>
    <p class="content-title">Métodos cadastrados:</p>
    <table class="table table-bordered table-striped">
      <thead>
        <th>Nome</th>
        <th>Descrição</th>
      </thead>
      <tbody *ngIf="!loader">
        <tr *ngFor="let method of methods">
          <td>{{ method.name }}</td>
          <td>{{ method.description }}</td>
        </tr>
      </tbody>
    </table>
    <app-loader *ngIf="loader"></app-loader>
  </div>
</div>
