<div class="content">
  <div>
    <p class="content-title">Cadastrar novo método:</p>
    <form class="create-method" (ngSubmit)="submitMethodForm()">
      <app-input
        [placeholder]="'Insira o nome do método'"
        [(inputModel)]="newMethodFormInfo.name"
      ></app-input>
      <app-input
        [placeholder]="'Insira a descrição do método'"
        [(inputModel)]="newMethodFormInfo.description"
      ></app-input>
      <app-button
        [type]="'submit'"
        [text]="'Cadastrar'"
        [backgroundColor]="'#fff28c'"
      ></app-button>
    </form>
  </div>
  <div>
    <p class="content-title">Filtros:</p>
    <form class="filter-methods" (ngSubmit)="findMethods()">
      <app-input
        [placeholder]="'Pesquisar pelo nome do método'"
        [(inputModel)]="filter.name"
      ></app-input>
      <app-input
        [placeholder]="'Pesquisar pela descrição do método'"
        [(inputModel)]="filter.description"
      ></app-input>
      <app-button
        [type]="'submit'"
        [text]="'Filtrar'"
        [backgroundColor]="'#fff28c'"
      ></app-button>
    </form>
  </div>
  <div>
    <p class="content-title">Métodos cadastrados:</p>
    <table class="table table-bordered table-striped">
      <thead>
        <th>Nome</th>
        <th>Descrição</th>
      </thead>
      <tbody *ngIf="!loader">
        <tr *ngFor="let method of methods">
          <td>{{ method.name }}</td>
          <td>{{ method.description }}</td>
        </tr>
      </tbody>
    </table>
    <app-not-found-data
      *ngIf="!loader && methods.length === 0"
    ></app-not-found-data>
    <app-loader *ngIf="loader"></app-loader>
  </div>
</div>
