@import "../../../variables.scss";

.content {
  padding: $space;
  display: grid;
  gap: 20px;

  .content-title {
    margin: 0;
    font-size: $font-lg;
    font-weight: 700;
  }

  .create-method {
    display: grid;
    grid-template-columns: 2fr 8fr 1fr;
  }

  table {
    thead {
      th {
        padding: $space;
        font-size: $font-md;
        width: 50%;

        border-width: 1px !important;
      }
    }

    tbody {
      tr {
        td {
          padding: $space;
          font-size: $font-md;
        }
      }
    }
  }
}
