@import "../../../variables.scss";

.content {
  padding: $space;
  display: grid;
  gap: 20px;

  .content-title {
    margin: 0;
    font-size: $font-lg;
    font-weight: 700;
  }

  .create-method {
    display: flex;

    input {
      padding: calc($space / 2);
      font-size: $font-md;
      border-radius: 0;
      border-right: 0;
      border: 1px solid #ccc;
    }

    #input-method-name {
      width: 20%;
    }

    #input-method-description {
      width: 70%;
    }

    button {
      padding: calc($space / 2);
      border: 1px solid #ccc;
      flex-grow: 1;
    }
  }

  table {
    thead {
      th {
        padding: $space;
        font-size: $font-md;
        width: 50%;

        border-width: 1px !important;
      }
    }

    tbody {
      tr {
        td {
          padding: $space;
          font-size: $font-md;
        }
      }
    }
  }
}
