@import "../node_modules/normalize.css/normalize.css";
@import "../node_modules/bootstrap-icons/font/bootstrap-icons.css";
@import "../node_modules/bootstrap/dist/css/bootstrap.css";
@import "./variables.scss";

* {
  font-family: "Barlow Semi Condensed", sans-serif;
}

select {
  padding: calc($space / 2);
  font-size: $font-md;
  border: 1px solid #ccc;
  border-radius: 0;
}